@media (min-width: 1600px) and (max-width: 1919px){

    body {
        width: 100%;
        background-color: #F1F1F1;
        overflow-x: hidden;
    }

    #information {
        display: flex;
        justify-content: center; /* Центрирование по горизонтали */
        align-items: center; /* Центрирование по вертикали (опционально) */
        height: 30vh; /* Настрой высоту по необходимости */
        width: 95vw; /* Настрой ширину по необходимости */
    }
    
    .tile-name{
        background-color: #333;
        width: 11vw;
        height: 9vh;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Source Sans 3', sans-serif;
        font-size: 1.1rem;
        border-radius: 20px;
        grid-area: tile-name;
    }
    
    .tile-position{
        background-color: white;
        width: 11vw;
        height: 9vh;
        color: #333;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Source Sans 3', sans-serif;
        font-size: 1.1rem;
        border-radius: 20px;
        grid-area: tile-position;
    }

    .tile-image{
        background-image: url('../images/avatar.jpg');
        background-size: cover;
        width: 11vw;
        height: 20vh;
        border-radius: 20px;
        grid-area: tile-image;
    }

    .tile-about{
        overflow-y: auto;
        background-color: white;
        width: 11vw;
        height: 9vh;
        color: #333;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Source Sans 3', sans-serif;
        font-size: 0.7rem;
        border-radius: 20px;
        grid-area: tile-about;
    }
    
    .tile-download{
        overflow-x: auto;
        background-color: #333;
        width: 8.5vw;
        height: 9vh;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Source Sans 3', sans-serif;
        font-size: 0.9rem;
        border-radius: 20px;
        user-select: none; /* 1. Запрет выделения текста */
        cursor: pointer; /* 2. Курсор в виде руки */
        grid-area: tile-download;
    }
    
    .tile-download:hover{
        background-color: #222;
    }

    .tile-links {
        overflow-y: hidden;
        overflow-x: auto;
        background-color: #333;
        width: 22vw;
        height: 4vh;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Source Sans 3', sans-serif;
        font-size: 1.1rem;
        border-radius: 15px;
        padding: 0 10px;
        grid-area: tile-links;
    }
    
    .tile-education {
        overflow-y: auto;
        background-color: white;
        width: 20vw;
        height: 14.5vh;
        font-family: 'Source Sans 3', sans-serif;
        font-size: 0.7rem;
        color:#333;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1vh;
        grid-area: tile-education;
    }

    .university img {
        width: 2.3vw;
        height: 4vh;
        margin-right: 1vh;
        border-radius: 10px;
    }

/*PROJECTS ADAPTATION*/
    #projects {
        display: flex;
        justify-content: center; /* Центрирование по горизонтали */
        align-items: center; /* Центрирование по вертикали (опционально) */
        height: 30vh; /* Настрой высоту по необходимости */
        width: 95vw; /* Настрой ширину по необходимости */
    }

    .tile-project {
        background-color: white;
        width: 14vw; /* Ширина */
        height: 40vh; /* Высота */
        border-radius: 20px; /* Закругленные углы */
        position: relative; /* Необходимо для позиционирования вложенного элемента */
    }

    .tile-project-image {
        width: 14vw;
        height: 16vh;
        border-radius: 20px 20px 0 0; /* Закругленные углы только сверху */
        object-fit: cover;
        display: block;
    }

    .tile-project-description {
        height: 12vh;
        text-align: center; /* Центрирование текста */
        margin-right: 1vh;
        font-family: 'Source Sans 3', sans-serif;
        font-size: 0.9rem;
        color: #666;
        padding: 0 10px; /* Отступы по бокам */
        overflow-y: auto; /* Добавляет вертикальный скроллбар, если содержимое выходит за пределы */
        overflow-x: hidden; /* Скрывает горизонтальный скроллбар */
    }
}